* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.a {
    margin: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}